@model FitnessMeal.Models.RESERVE_PICK_UP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RESERVE_PICK_UP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.RESTAURANT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.RESTAURANT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PICK_UP_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PICK_UP_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NO_OF_EATER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO_OF_EATER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_ENERGY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_ENERGY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ORDER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
