@model IEnumerable<FitnessMeal.Models.Restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Restaurant</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <table class="table">
        <tr>
            <th>
                Restaurant
            </th>
            <th>
                Description
            </th>
            <th>
                Main Cuisine
            </th>
            <th>
                Adress
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.RESTAURANT_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Main_CUSINE)
                </td>
                <td>
                    @{
                        String Adress = item.ADRESS_FIRST_LINE +
                            " " + item.STREET_NO + " " + item.STREET_RD + " " +
                            item.SURBURB + " " + item.STATE + " " + item.POSTCODE;

                    }
                    @Adress
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RESTAURANT_ID }) 
                    @Html.ActionLink("Manage", "../FOOD_ITEM/Index", new { id = item.RESTAURANT_ID }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.RESTAURANT_ID })
                </td>
            </tr>
        }

    </table>
</div>
