@model FitnessMeal.Models.FOOD_ITEM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.RestaurantName</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>FOOD_ITEM</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.EditorFor(model => model.RESTAURANT_ID, new { htmlAttributes = new { @class = "hidden" } })
    @Html.ValidationMessageFor(model => model.RESTAURANT_ID, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ITEM_NAME, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.ITEM_NAME, new { htmlAttributes = new { @class = "inputbox" } })
                        @Html.ValidationMessageFor(model => model.ITEM_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label " })
                    <span>
                        @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "inputbox" } })
                        @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                    </span>
                </div>


                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CUISINE, htmlAttributes: new { @class = "control-label div-float" })
                    <span>
                        @Html.DropDownListFor(model => model.CUISINE, ViewBag.CUSINES as SelectList, "--Select Cuisine--", new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.CUISINE, "", new { @class = "text-danger" })
                    </span>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ENERGY, htmlAttributes: new { @class = "control-label" })
                    <span>
                        @Html.EditorFor(model => model.ENERGY, new { htmlAttributes = new { @class = "inputbox" } })
                        @Html.ValidationMessageFor(model => model.ENERGY, "", new { @class = "text-danger" })
                    </span>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.PRICE, htmlAttributes: new { @class = "control-label" })
                    <span>
                        @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "inputbox" } })
                        @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.IS_DRINK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.IS_DRINK, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.IS_DRINK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.IS_PURE_VEGI, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.IS_PURE_VEGI, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.IS_PURE_VEGI, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_BEEF, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_BEEF, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_BEEF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_PORK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_PORK, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_PORK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_OTHERMEAT, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_OTHERMEAT, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_OTHERMEAT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_CHICKEN, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_CHICKEN, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_CHICKEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_EGG, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_EGG, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_EGG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_MILK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_MILK, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_MILK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_NUTS, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_NUTS, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_NUTS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_VEGI, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_VEGI, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_VEGI, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_FRUIT, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_FRUIT, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_FRUIT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    @Html.LabelFor(model => model.HAS_RICE, htmlAttributes: new { @class = "control-label col-md-3 col-sm-6 col-xs-6" })
                    <div>
                        @Html.DropDownListFor(model => model.HAS_RICE, ViewBag.yn as SelectList, new { @class = "inputbox" })
                        @Html.ValidationMessageFor(model => model.HAS_RICE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 ">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index/"+Model.RESTAURANT_ID)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
