@model IEnumerable<FitnessMeal.Models.FOOD_ITEM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.RESTAURANT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUISINE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENERGY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_DRINK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_PURE_VEGI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_BEEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_PORK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_OTHERMEAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_CHICKEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_EGG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_MILK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_NUTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_VEGI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_FRUIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAS_RICE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.RESTAURANT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUISINE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENERGY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_DRINK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_PURE_VEGI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_BEEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_PORK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_OTHERMEAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_CHICKEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_EGG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_MILK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_NUTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_VEGI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_FRUIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAS_RICE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ITEM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ITEM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ITEM_ID })
        </td>
    </tr>
}

</table>
